.hello {
  color: #8b4513;
  background: rgba(255 255 255 / 100%);
  background-color: rgba(59 130 246 / 100%);
}
@media (prefers-color-scheme: dark) {
  .hello {
    background: rgba(0 0 0 / 100%);
    background-color: rgba(96 165 250 / 100%);
  }
}
